
<div id="jsGrid"></div>

@section scripts
{
    <script>
        $(function () {
            $("#jsGrid").jsGrid({
                width: "100%",
                height: "500px",

                inserting: true,
                editing: true,
                filtering: true,
                autoload: true,
                sorting: true,
                paging: true,

                pageSize: 20,
                pageButtonCount: 5,

                controller: {
                    loadData: function (filter) {
                        return $.ajax({
                            type: "GET",
                            url: '@Url.Action("LoadData")',
                            data: filter,
                            contentType: "application/json",
                            dataType: "json"
                        });
                    },

                    insertItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: '@Url.Action("InsertData")',
                            data: item,
                            dataType: "json"
                        });
                    },

                    updateItem: function (item) {
                        return $.ajax({
                            type: "GET",
                            url: '/WareHouse/UpdateData/' + item.Id,
                            data: item,
                            dataType: "json"
                        });
                    },

                    deleteItem: function (item) {
                        return $.ajax({
                            type: "GET",
                            url: '/WareHouse/DeleteData/' + item.Id,
                            dataType: "json"
                        });
                    }
                },

                fields: [
                    { name: "Code", title: "Mã kho", type: "text", width: 150, validate: "required" },
                    { name: "Name", title: "Tên kho", type: "text", width: 150, validate: "required" },
                    { name: "Address", title: "Địa chỉ", type: "text", width: 300, filtering: false },
                    { name: "Description", title: "Mô tả", type: "text", width: 300, filtering: false },
                    { name: "Inactive", title: "Kích hoạt", type: "checkbox", width: 100, validate: "required" },
                    { type: "control"}
                ]
            });
        });
    </script>
}

